*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial";
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #27292E;
}

.calendar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #21252B;
    border-radius: 20px;
    color: white;
    padding: 20px;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
}

.days{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(7, 110px);
    grid-template-rows: repeat(6,70px);
}

.days > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev, .next{
    opacity: 0.5;
}

.days > div:hover{
    border: 1px white solid;
    border-radius: 10px;
}

.today{
    background-color: #282C34;
    color: white;
    border-radius: 10px;
}

.currentDate{
    margin: 20px 0;
    display: flex;
}

.left, .right{
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.left{
    left: -10px;
}

.right{
    right: -10px;
}

.left::before, .left::after, .right::before, .right::after{
    content: "";
    width: 3px;
    height: 15px;
    background-color: white;
    position: absolute;
    border-radius: 20px;
}

.left::before{
    transform: rotate(-45deg);
    left: 50%;
    top: 7px;
}

.left::after{
    transform: rotate(45deg);
    left: 50%;
    bottom: 7px;
}

.right::before{
    transform: rotate(45deg);
    right: 50%;
    top: 7px;
}

.right::after{
    transform: rotate(-45deg);
    right: 50%;
    bottom: 7px;
}